html

  head
    title QlikView Login Manager
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="/assets/css/styles.css")

  body
    .container-fluid

      h6 Affinitas
      h4 Qlikview Login Manager
      
      .row
        .col-sm-12
          p 
            small Useful Tip: After you click on a box to occupy a Login, press TAB directly to avoid clicking the Text Box to enter your name.

      div.row
        div.col-sm-2
          h4 Team Display
          div#display-logins
          br
        div.col-sm-2
          h4 Team Programmatic
          div#programmatic-logins
          br        

        div.col-sm-2
          h4 Team Product
          div#product-logins
          br
       

          


      // Occupy Modal
      #occupy-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='occupyLabel')
        .modal-dialog.modal-sm(role='document')
          .modal-content
            form
              .modal-body
                h4#occupyLabel.modal-title You are occupying 
                  span.login-name
                br
                input#occupier.form-control(type='text', placeholder="What is your name?" autofocus)
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button#occupy-button.btn.btn-primary(type='submit') Occupy


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js")
    script(src='/assets/js/main.js')

