html

  head
    title QlikView Login Manager
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="/assets/css/styles.css")

  body
    .container-fluid

      h6 Affinitas
      h5 Qlikview Login Manager
      h6#logged-in-user.hide Logged in as 
        span#username 
        span
          small
            a(href="") change

      #welcome
        h3 Hello!
        .row
          .col-sm-3
            form
              .form-group
                input#username.form-control.input-lg(placeholder="What is your name?", required="")
              button.btn.btn-primary(type="submit") Login


      #all-logins.row.hide
        .col-sm-2
          h4 Team Display
          #display-logins
          br
        .col-sm-2
          h4 Team Programmatic
          #programmatic-logins
          br        

      // Occupy Modal
      #occupy-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='occupyLabel')
        .modal-dialog.modal-sm(role='document')
          .modal-content
            form
              .modal-body
                h4#occupyLabel.modal-title You are occupying 
                  span.login-name
                br
                input#occupier.form-control(type='text', placeholder="What is your name?" autofocus)
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button#occupy-button.btn.btn-primary(type='submit') Occupy


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src='/assets/js/main.js')

