.login-box, .occupied {
    margin-right: 15px;
    margin-top: 15px;
    padding: 10px;
    height: 130px;
    width: 130px;
    background-color: #468966;
    color: #fff;
    float: left;
}

.login-box.occupied {
    background-color: #B64926; 
}