.login-box {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #588F27;
    color: #fff;
    cursor: pointer;
}

.login-box:hover {
    opacity: 0.7;
}

.login-box.occupied {
    background-color: #B64926; 
}